.movies {
  flex-direction: column;
  width: calc(100% - 70px * 2);
  display: flex;
  align-items: center;
  flex: 1;
}

.movies__search-error {
  text-align: center;
  display: flex;
  padding-block: 100px;
  max-width: 80%;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .movies {
    width: calc(708px + (1140 - 708)*((100vw - 768px)/(1280 - 768)));
  }
}

@media screen and (max-width: 767px) {
  .movies {
    width: calc(300px + (708 - 300)*((100vw - 320px)/(768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .movies__search-error {
    max-width: 90%;
  }
}
