.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__fields {
  flex: 1;
}

.form__bottom {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.form__profile-submit[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.form__submit {
  color: #fff;
}

.form__submit::after {
  content: '';
}

.form__submit::before {
  content: '';
}

.form__submit_is-loading::before {
  animation: ellipsis 2s linear infinite;
  letter-spacing: 2px;
  opacity: 0;
}

.form__submit_is-loading::after {
  animation: ellipsis 2s linear infinite;
  letter-spacing: 2px;
}

@keyframes ellipsis {
  from {
    content: '.';
  }
  60% {
    content: '..';
  }
  80% {
    content: '...';
  }
  to {
    content: '';
  }
}

.form_type_auth {
  min-height: 380px;
}

.form__auth-submit {
  width: 100%;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  padding-right: 2px;
}

.form_type_profile {
  min-height: 307px;
}

.form__profile-submit {
  font-size: 13px;
  line-height: 14px;
  background-color: inherit;
}

.form__profile-cancel {
  color: #fff;
  font-size: 13px;
  line-height: 14px;
  background-color: inherit;
}

@media screen and (max-width: 1279px) {
  .form_type_profile {
    min-height: calc(297px + (307 - 297) * ((100vw - 768px) / (1280 - 768)));
  }
}

@media screen and (max-width: 768px) {
  .form_type_profile {
    min-height: calc(466px + (297 - 466) * ((100vw - 320px) / (768 - 320)));
  }

  .form_type_auth {
    min-height: calc(468px + (380 - 468) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .form__auth-submit,
  .form__profile-submit,
  .form__profile-cancel {
    font-size: 12px;
  }
}