@keyframes ellipsis {
  from {
    content: '.';
  }
  60% {
    content: '..';
  }
  80% {
    content: '...';
  }
  to {
    content: '';
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-fields {
  flex: 1;
}

.form-submit {
  color: #ffffff;
}

.form-submit::after,
.form-submit::before {
  content: '';
}

.form-submit:disabled {
  opacity: 0.5;
}

.form-submit-loading::before,
.form-submit-loading::after {
  animation: ellipsis 2s linear infinite;
  letter-spacing: 2px;
}

.form-submit-loading::before {
  opacity: 0;
}

.form-auth {
  min-height: 380px;
}

.form-auth-submit {
  width: 100%;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  padding-right: 2px;
}

.form-profile {
  min-height: 307px;
}

.form-profile-submit {
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  color: white;
  background-color: inherit;
  border: none;
}

@media screen and (max-width: 1279px) {
  .form-profile {
    min-height: calc(297px + 10px * ((100vw - 768px) / 512));
  }
}

@media screen and (max-width: 768px) {
  .form-profile,
  .form-auth {
    min-height: calc(297px - 169px * ((100vw - 320px) / 448));
  }

  .form-auth {
    min-height: calc(380px - 88px * ((100vw - 320px) / 448));
  }
}

@media screen and (max-width: 320px) {
  .form-auth-submit,
  .form-profile-submit {
    font-size: 12px;
  }
}
