.search {
  --color-form: #8b8b8b;
  width: 100%;
  padding-block: 80px 39px;
  border-bottom: 1px solid #424242;
}

.search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 9px;
}

.search__label {
  flex: 1;
}

.search__field {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 3px;
  color: #fff;
  background-color: #2f2f2f;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.search__field:focus {
  border-color: #4285f4;
}

.search__message {
  display: block;
  min-height: 10px;
  visibility: hidden;
  color: #ee3465;
  font-size: 10px;
  line-height: 10px;
}

.search__field:not(:valid) + .search__message {
  visibility: visible;
}

.search__submit {
  width: 46px;
  height: 46px;
  margin-bottom: 14px;
  background: url(images/search-form_find-btn.svg) no-repeat center;
  border-radius: 6px;
}

.search__options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.search__options-text {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .search__container {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 320px) {
  .search {
    width: calc(100% - 4px * 2);
  }

  .search__container {
    margin-bottom: 33px;
  }

  .search__field {
    padding: 12px 13px;
  }

  .search__options-text {
    font-size: 11px;
  }
}
