:root {
  --footer-text-color: #8b8b8b;
  --footer-link-color: #fff;
  --footer-border-color: #424242;
  --footer-font-size: 13px;
  --footer-line-height: 16px;
  --footer-padding-small: 10px;
  --footer-padding-medium: 30px;
  --footer-padding-large: 70px;
}

.footer__base {
  width: calc(100% - var(--footer-padding-large) * 2);
  font-size: var(--footer-font-size);
  font-feature-settings: 'clig' off, 'liga' off;
  line-height: var(--footer-line-height);
  margin: 0 auto;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__heading {
  color: var(--footer-text-color);
  font-size: var(--footer-font-size);
  font-weight: 400;
  line-height: var(--footer-line-height);
  text-align: center;
  border-bottom: 1px solid var(--footer-border-color);
  padding-bottom: 20px;
  margin-top: 79px;
  margin-bottom: 20px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.footer__link {
  color: var(--footer-link-color);
  display: block;
}

@media screen and (max-width: 808px) {
  .footer__base {
    width: calc(100% - var(--footer-padding-medium) * 2);
  }
}

@media screen and (max-width: 580px) {
  .footer__base {
    width: calc(100% - var(--footer-padding-small) * 2);
    font-size: 12px;
  }

  .footer__heading {
    font-size: 12px;
    margin-bottom: 30px;
  }

  .footer__nav,
  .footer__list {
    flex-direction: column;
  }

  .footer__list {
    align-items: center;
    row-gap: 11px;
    margin-bottom: 29px;
  }

  .footer__nav {
    flex-direction: column-reverse;
  }

  .footer__link,
  .footer__heading {
    text-align: center;
  }
}
