.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login__container {
  display: flex;
  flex-direction: column;
  width: 396px;
}

.login__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin: 40px 0;
}

.login__link {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  overflow: hidden;
}

.login__signup {
  display: flex;
  justify-content: center;
  gap: 7px;
  font-size: 14px;
  line-height: 17px;
  margin-top: 16px;
}

.login__signup-text {
  color: #8b8b8b;
  margin: 0;
}

.login__signup-link {
  color: #4285f4;
}

@media screen and (max-width: 768px) {
  .login__container {
    width: calc(260px + (396 - 260)*((100vw - 320px)/(768 - 320)));
    margin-top: 66px;
  }

  .login__title {
    margin-top: calc(50px + (40 - 50)*((100vw - 320px)/(768 - 320)));
    margin-bottom: calc(80px + (40 - 80)*((100vw - 320px)/(768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .login {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
  }

  .login__title {
    margin: 50px 0 80px;
  }

  .login__container {
    align-items: center;
    margin-top: 56px;
  }

  .login__signup {
    font-size: 12px;
    line-height: 15px;
    margin-top: 14px;
  }
}
